html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

h1 {
  margin: 0;
}

#id {
  font-size: 2000%;
}
.id::before {
  content: "#";
}

.progress {
  border: 1px solid black;
  border-radius: 0.5em;
  height: 2em;
  padding: 0;
}

.progress > div {
  border-radius: inherit;
  background-color: black;
  height: 100%;
}

#progress {
  width: 80%;
  height: 4em;
  border: 1px solid black;
  padding: 0;
}
